{%block list%}
    <section class="col-md-4">
        <caption>ULTIMOS MOVIMIENTOS</caption>
        {%if moves%}
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Descricion</th>
                    </tr>
                </thead>
                <tbody>
                    {%for move in moves%}
                    <tr {%if move.valor > 0%} class="success"
                            {%else%} class="danger"
                        {%endif%}>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{move.fecha}}</td>
                        <td>{{move.valor}}</td>
                        <td>{{move.descripcion}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%else%}
            --No hay movimientos--
        {%endif%}
    </section>
{%endblock%}